body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.background-image {
  background-image: url("./Img/Fondo.png");
  background-position: bottom;
  background-size: cover;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%; /* Ajustar la altura al 100% del contenedor */
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "Allura", cursive;
  font-family: "Cedarville Cursive", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Great Vibes", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Sacramento", cursive;
  position: relative;
  z-index: 1;
  font-size: 40px;
  color: #233950;
  margin-top: 4rem;
}

.bloque-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #355270;
  font-size: 29px;
  margin: auto;
}

h3 {
  font-family: "Allura", cursive;
  font-family: "Cedarville Cursive", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Great Vibes", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Sacramento", cursive;
  color: #395776;
  font-size: 1.5rem;
}

p,
table {
  color: #9f2738;
  font-size: 18px;
  margin: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 8px;
}

td + td {
  border-left: 1px solid #9f2738;
}

.mapa-iframe {
  width: 200px; /* Ajusta el ancho a tu preferencia */
  height: 200px; /* Ajusta la altura a tu preferencia */
  border: 0;
  border-radius: 50%; /* Hace que el borde sea circular */
  overflow: hidden; /* Asegura que el contenido sea completamente visible en el círculo */
}

.cta-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  p,
  table {
    font-size: 16px;
  }

  .cta-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .principal {
    max-width: 80%;
  }
}
